
/* .trafic-light { 
    width: 130px;
    height: 360px;
    background-color: black;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 20px;
    margin-top: 100px;
}

.red-light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    margin-bottom: 10px;
    box-shadow: 0px 0px 9px 4px rgb(211, 27, 27);
}

.yellow-light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    margin-bottom: 10px;
    box-shadow: 0px 0px 9px 4px rgb(230, 230, 18);
}

.green-light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
    margin-bottom: 10px;
    box-shadow: 0px 0px 9px 4px rgb(125, 197, 17);
}

.light-style {

} */

